<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AlmacenBPELBinding" />
                <binding name="AlmacenBPELBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ode/processes/AlmacenBPEL.AlmacenBPELPort/"
                binding="basicHttpBinding" bindingConfiguration="AlmacenBPELBinding"
                contract="ServicioCompra.AlmacenBPELPortType" name="AlmacenBPELPort" />
            <endpoint address="http://localhost:8080/ode/processes/AlmacenBPEL.AlmacenBPELPort/"
                binding="basicHttpBinding" bindingConfiguration="AlmacenBPELBinding1"
                contract="AlmacenBPEL.AlmacenBPELPortType" name="AlmacenBPELPort1" />
        </client>
    </system.serviceModel>
</configuration>